<!--
  ~ Copyright (c) BSI Business Systems Integration AG. All rights reserved.
  ~ http://www.bsiag.com/
  -->
<!doctype html>
<html lang="{{language}}">

  <head>
    <title>{{navigation.activePage.pageTitle}} | {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="studio-design-base-url" value="{{designBaseUrl}}">
    <link rel="stylesheet" href="{{designBaseUrl}}/css/main.css"/>
    <script src="{{designBaseUrl}}/assets/runtime.js" defer="defer"></script>
    <script src="{{designBaseUrl}}/assets/jquery.js" defer="defer"></script>
    <script src="{{designBaseUrl}}/assets/chartjs.js" data-bsi-remove-if="draft" defer="defer"></script>
    <script src="{{designBaseUrl}}/assets/main.js" data-bsi-remove-if="draft" defer="defer"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
  </head>

  <body>

  <!-- HEADER -->
	<bsi:include reference="header"></bsi:include>

	<!-- NAVIGATION -->
	<bsi:include reference="navigation"></bsi:include>

  <!-- PAGE -->
	<bsi:include reference="{navigation.activePage.contentId}"></bsi:include>

	<hr>

	<div id="banner">
		<a href="http://www.bsi-software.com" target="_blank"><img src="{{designBaseUrl}}/img/banner-1.png" id="banner-image"></a><br>
		<div id="banner-text">{{bsi.nls "banner"}}</div>
	</div>

  <!-- FOOTER -->
	<bsi:include reference="footer"></bsi:include>

  </body>
</html>
