<div data-bsi-element="table" data-bsi-element-part="table" class="table"> 
 <table> 
  <tbody>
   <tr> 
    <th>{{bsi.nls "column"}} 1</th> 
    <th>{{bsi.nls "column"}} 2</th> 
    <th>{{bsi.nls "column"}} 3</th> 
   </tr> 
   <tr> 
    <td>{{bsi.nls "text_"}}</td> 
    <td>{{bsi.nls "text_"}}</td> 
    <td>{{bsi.nls "text_"}}</td> 
   </tr> 
  </tbody>
 </table> 
</div>